<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>339132272891-cdk5htdshvmm6jrqmm1juhse3ljc5ngt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.339132272891-cdk5htdshvmm6jrqmm1juhse3ljc5ngt</string>
	<key>API_KEY</key>
	<string>AIzaSyCdATmQfi43ZH7VRiBqfW6-1hgS8wXE_Rk</string>
	<key>GCM_SENDER_ID</key>
	<string>339132272891</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kybele_gen2.beta_06mar2023</string>
	<key>PROJECT_ID</key>
	<string>kybele-gen2</string>
	<key>STORAGE_BUCKET</key>
	<string>kybele-gen2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:339132272891:ios:ef14b70c02ca083bda205e</string>
</dict>
</plist>